// --------------------------------------------------
// Set Base Theme Styles
// 
// Modified from HTMl5 Boilerplate main.css
// v4.3.0 | MIT License | http://h5bp.com/
// 
// Removed items:
//   	- Browse Happy prompt section
// 		- Author's custom styles section
// 		- Helper classes section
// 		- Media queries section
// Moved items:
//		- print section to _print.scss
// 		- .clearfix to _mixin.scss
// --------------------------------------------------

/* 	Base styles: opinionated defaults
	------------------------------------------------------- */

html,
button,
input,
select,
textarea {
	color: $gray-dark;
}

html {
	// Root for rems
		// 62.5% takes 16px (browser default size for medium text) down to 10px
		// ref: http://clagnut.com/blog/348/
	// font-size: 62.5%;
	font-size: 14px;
	line-height: 20px;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
	background: $color-blue-light;
	text-shadow: none;
}

::selection {
	background: $color-blue-light;
	text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid $gray-dark;
	margin: 1em 0;
	padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
svg,
video {
	vertical-align: middle;
	max-width: 100%;
	height: auto;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
	resize: vertical;
}

/* 	Links
	------------------------------------------------------- */
a {
	&,
	&:visited{
		color: lighten($color-blue, 10%);
		text-decoration: none;
	}

	&:hover{
		color: $color-blue-light;
	}
}


/* 	Typography
	------------------------------------------------------- */
h1,h2,h3,h4,h5,h6{
	font-family: $font-sans;
	font-weight: bold;
	line-height: 1em;
	color: $color-blue;

	& a, & a:visited{
		color: $color-blue;

		&:hover{ 
			color: $color-blue-light;
			}
		}

	}

h1, 
.h1 {
	font-size: 2.6em;
	margin: 0 0 0.25em;
}

h2,
.h2 {
	font-size: 2.4em;
	margin: 0.83em 0;
}

h3,
.h3 {
	font-size: 2.2em;
	margin: 1em 0;
}

h4,
.h4 {
	font-size: 2em;
	margin: 1.33em 0;
}

h5,
.h5 {
	font-size: 1.8em;
	margin: 1.67em 0;
}

h6,
.h6 {
	font-size: 1.5em;
	margin: 2.33em 0;
}

/* 	Lists
	------------------------------------------------------- */
ul,
ol,
dl {
	margin: 20px 0;
}

dd {
	margin: 0 0 0 40px;
}

dl.cse-events{
	margin: 0;

	& dt{
		margin: $padding 0;
		font-weight: bold;
		font-size: $font-size-base;
	}

	& dd{
		margin: $padding 0;
	}
}


/* Text */

blockquote{
	font-size: $font-size-base*1.5;
	margin: $padding*3;
	padding-left: $padding;
	border-left: 4px solid $color-accent;
}


p, dd, li{
	font-size: $font-size-base;
	line-height: $font-size-base+0.15;
	}


/* 	Breakpoint indicator
	------------------------------------------------------- */
.breakpoint-context {
	position: absolute;
    top: -999em;
    left: -999em;
	z-index: 1;

	@include breakpoint($medium) {
		z-index: 2;
	}
	@include breakpoint($large) {
		z-index: 3;
	}
}

.group:after {
  content: "";
  display: table;
  clear: both;
}