/* 	Content - Posts, Pages, Comments
	------------------------------------------------------- */

/** Posts Default
 -------------------------------------------------- */
.entry-header {
}
.entry-title {
}

.entry-date {
	background: $color-accent;
	color: $white;
	font-weight: bold;
	font-family: $font-serif;
	padding: 0.5em;
	font-size: $font-size-base;
	max-width: 50px;
	text-align: center;
	float: left;
	margin: -0.65em 0.5em 0 0;
}
.entry-content {
}
.entry-excerpt {
}
.entry-meta {
}

/** Attachment Page
 -------------------------------------------------- */
.attachment-header {
}
.attachment-content {
}
.attachment-prev {
}
.attachment-next {
}


/** WP Gallery
 -------------------------------------------------- */
.gallery-item {
}
.gallery-item .gallery-icon {
}
.gallery-item .gallery-icon img {
}
.gallery-item .gallery-icon a {
}