/* 	Content - Posts, Pages, Comments
	------------------------------------------------------- */

/** Posts Default
 -------------------------------------------------- */
.entry-header {
}
.entry-title {
}

.entry-date {
	color: $color-accent;
	font-family: $font-serif;
	font-size: $font-size-base;
	float: right;
	margin-left: $padding*3;
}
.entry-content {
}
.entry-excerpt {
}
.entry-meta {
	font-size: $font-size-base - 0.45;
	background: $gray-light;
	border-top: 1px solid $gray-dark;
	border-bottom: 1px solid $gray-dark;
	padding: $padding/2;
	margin-bottom: $padding*4;
	& p{
		padding: 0;
		margin: 0;
		}
}

/** Attachment Page
 -------------------------------------------------- */
.attachment-header {
}
.attachment-content {
}
.attachment-prev {
}
.attachment-next {
}


/** WP Gallery
 -------------------------------------------------- */
.gallery-item {
}
.gallery-item .gallery-icon {
}
.gallery-item .gallery-icon img {
}
.gallery-item .gallery-icon a {
}